<!doctype html>
<html lang=en>
<head>
  <meta charset=utf-8>
  <title>DLX API</title>
  <meta name=author content='Daniel W. Hieber, Patrick J. Hall, John Mangel'>
  <meta name=application-name content=dlx-api>
  <meta name=description content='The API for accessing the DLX database.'>
  <meta name=keywords content='linguistics, Digital Linguistics, DLX, language documentation, language revitalization, University of California Santa Barbara'>

  <link rel=stylesheet href={{baseUrl '/css/fonts.css'}} charset=utf-8>
  <link rel=stylesheet href={{baseUrl '/css/reset.css'}} charset=utf-8>
  <link rel=stylesheet href={{baseUrl '/css/main.css'}} charset=utf-8>

  {{{sections.style}}}

</head>

<body>

  <header id=header class=sticky>
    <a href=/>
      <img id=logo src=/img/tunnel.svg alt='DLX logo'>
    </a>
    <h1><a href=/>DLX</a></h1>
    <div id=menuButton>
      <img src=/img/menu.svg alt='open/close menu'>
      <p>Menu</p>
    </div>
    <nav id=nav>
      <ul>
        <li><a href=/>Home</a></li>
        <li><a href=/account>My Account</a></li>
        <li><a href=/developer>Developer</a></li>
      </ul>
    </nav>
    <a id=github href=https://github.com/digitallinguistics/dlx-api><img src=/img/github.svg alt='see this project on GitHub'></a>
  </header>

  {{{body}}}

  <script src=/js/main.js charset=utf-8></script>
  {{{sections.script}}}
</body>
</html>
