<!doctype html>
<html lang=en>
<head>
  <meta charset=utf-8>
  <title>DLX API</title>
  <meta name=author content='Daniel W. Hieber, Patrick J. Hall, John Mangel'>
  <meta name=application-name content=dlx-api>
  <meta name=description content='The API for accessing the DLX database.'>
  <meta name=keywords content='linguistics, Digital Linguistics, DLX, language documentation, language revitalization, University of California Santa Barbara'>

  <link rel=stylesheet href={{baseUrl '/css/fonts.css'}} charset=utf-8>
  <link rel=stylesheet href={{baseUrl '/css/reset.css'}} charset=utf-8>
  <link rel=stylesheet href={{baseUrl '/css/main.css'}} charset=utf-8>

  {{{sections.style}}}

</head>

<body>
  {{{body}}}

  {{{sections.script}}}
</body>
</html>
